<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='dashboard.css') }}>
</head>
<body>
  <div id='wbg'>
    <h1>Login to Site Dashboard</h1>
    <p>Enter your login code which was provided on site creation.</p><br><br>
    <p><em>It was hopeless logging in. I forgot the password.</em> Password Reset is comming soon.</p>
    <form action='' method='POST'>
      <input type='password' name='pass'>
      <input type='submit' value='Goto Dashboard'>
    </form>
  </div>
</body>